*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.row{
    text-align: center;
}

.item{
    height: 462px;
    position: relative;
}

.text{
    width: 320px;
    height: 80px;
    text-align: left;
    line-height: 1;
    margin-top: 10px;
}

.discount{
    left: 0;
    background-color: red;
}

.sustainability{
    left: 28px;
    background-color: green;
}

.post-it{
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 10px;
    padding: 3px;
}

.only{
    left: 0px;
    margin-right: 10px;
}

.cuore{
    position: absolute;
    right: 0px;
    top: 5px; 
    font-size: 30px;
    padding: 4px 8px;
    background-color: white;
    display: none;
}

.item:hover .cuore{
    display: block;     
}

.item:active .cuore{
    display: block;
    color: red;
}

.scontato{
    color: red;
}

.pieno{
    text-decoration-line: line-through;
    margin-left: 5px;
}

.prezzo{
    font-size: 0.7em;
}

.brand{   
    font-size: 12px;
}

.item-text{
    display: inline-block;
}

.item1:hover{
    background: url(../img/1b.webp);
}

.item1{
    background: url(../img/1.webp);
}

.item2:hover{
    background: url(../img/2b.webp);
}

.item2{
    background: url(../img/2.webp);
}

.item3:hover{
    background: url(../img/3b.webp);
}

.item3{
    background: url(../img/3.webp);
}

.item4:hover{
    background: url(../img/4b.webp);
}

.item4{
    background: url(../img/4.webp);
}

.item5:hover{
    background: url(../img/5b.webp);
}

.item5{
    background: url(../img/5.webp);
}

.item6:hover{
    background: url(../img/6b.webp);
}

.item6{
    background: url(../img/6.webp);
}

.item1, .item2, .item3, .item4, .item5, .item6{
    background-size: cover;
}

.hover:hover{
    display:block;
    background-size: contain;
}